@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body {
    background-image: url(./images/—Pngtree—abstract\ colorful\ flow\ shapes\ background_1173824.png);
    background-size: cover;
}

.page1 {
    padding: 100px;
}

.welcome-page {
    text-align: center;
    margin: 30px;
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    max-width: 50%;
    margin: auto;
    padding: 25px;
    max-height: 50%;
}

.Btn {
    text-align: center;
}

#Btn-start {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: #ac7dc7;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 28px;
    margin-top: 150px;
}

.font {
    font-family: 'Otomanopee One', sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#hint {
    background: url("./images/pngaaa.com-375335.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

#hint:hover {
    -webkit-filter: drop-shadow(2px 2px 1px #FFF);
    filter: drop-shadow(2px 2px 1px #FFF);
}

.chronometer {
    border-radius: 3px;
    border: rgb(207, 158, 65) 2px solid;
    width: 80px;
    height: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    background: rgb(227 186 108 / 42%);
    border-radius: 10px;
    border: 5px solid white;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.letterBtn {
    width: 80px;
    height: 50px;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

.enabled {
    background: linear-gradient(rgb(227 186 108 / 42%), rgb(206, 118, 86));
}

.disabled {
    background: linear-gradient(rgb(227 186 108 / 42%), rgb(125, 125, 125));
}

ul li {
    padding: 20px;
}

.letters {
    margin: auto;
    text-align: center;
}

.letters ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.hidden {
    display: none;
}

.Game-page {
    padding: 100px;
}